@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '~bootstrap/scss/bootstrap';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

$main-color: #04a297;
$secondary-color: #222328;

body {
  background-color: #c1c1c1;
}

.fc-button-primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.fc-event, .fc-event-dot {
  background-color: $main-color;
}
